{% extends 'teachers/main.html/' %}
{% block main_body %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'teachers/js/hod_teacher_view.js' %}"></script>
<center>
<h3 class="text-primary p-2"><b> TEACHERS IN YOUR DEPARTMENT </b></h3>
</center>
{% csrf_token %}
<div class="table-responsive-sm">
    <table id="tableMain" class="table table-striped table-bordered" style="font-size:small;">
        <thead>
            <tr>
                <th>
                    <center>Teacher ID</center>
                </th>
                <th>
                    <center>Name</center>
                </th>
                <th>
                    <center>Department</center>
                </th>
                <th>
                    <center>Profile</center>
                </th>
            </tr>
        </thead>
        <tbody>
            <br><br> 
            {% for i in teacher %}
            {% if i.id != request.user.username %}
            <tr>
                <td>
                    <center>{{i.id}}</center>
                </td>
                <td>
                    <p>{{ i.name }}{% if i.middle_name != " "%}&nbsp{{ i.middle_name }}{% endif %}&nbsp{{ i.surname }}</p>
                </td>
                <td>
                    <p>{{i.dept}}</p>
                </td>
                <td> 
                    <button>link</a> 
                    <input type="hidden" id="mentor_id{{ forloop.counter }}" value="{{i.id}}">
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
