{% extends 'teachers/main.html/' %} 
{% block main_body %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% load static %}
  <script src="{% static 'teachers/js/global_search.js' %}"></script>
  <style>
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 10s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

  <div class="outer">
      <div class="inner" >
          <center id="inner">
            {% csrf_token %}
            <!-- Search Bar -->
            <img src="{% static 'teachers/img/search.png' %}" height="25%" width="25%"/>
            {% if is_principal %}
              <h1 class="text-primary"><b>GLOBAL SEARCH INDEX</b></h1><br />
              <div class="autocomplete" width="25%">
              <input type="text" class="form-control form-control-lg border-primary" placeholder="Search any Student or Teacher" id="search">
              </div>
              <span class="text-secondary small"> You can search anybody (student or teacher) by <b> Name </b> or <b> Roll No. </b> or <b> ID CARD No. </b> or <b>Batch</b> (if student)</span>
            {% elif is_hod %}
              <h1 class="text-primary"><b>DEPARTMENTAL SEARCH INDEX</b></h1><br />
              <div class="autocomplete" width="15%">
              <input type="text" class="form-control form-control-lg border-primary" placeholder="Search any Student or Teacher of your department" id="search">
              </div>
              <span class="text-secondary small"> Search any student or teacher of your department by <b> Name </b> or <b> Roll No. </b> or <b> ID CARD No. </b> or <b>Batch</b> (if student)</span>
            {% else %}
              <h1 class="text-primary"><b>MENTEES SEARCH INDEX</b></h1><br />
              <div class="autocomplete" width="25%">
              <input type="text" class="form-control form-control-lg border-primary" placeholder="Search any of your Mentees" id="search">
              </div>
              <span class="text-secondary small"> You can search any of your Mentees by <b> Name </b> or <b> Roll No. </b> or <b> ID CARD No. </b> or <b>Batch</b>  (if student)</span>
            {% endif %}
            
              
          </center> 
      </div>
    </div>
  </div> 
{% endblock %}