{% extends 'accounts/main.html' %}
{% block body %}
    <div class="container">
        <center>
            <h2><u> Available Links as of now: </u></h2>
            <h4>
            <a href={% url 'details'%} target="_blank"> Student details </a>
            <br />
            <a href={% url 'sem_marks' 1 %} target="_blank"> Student Semester marks </a>
            <br />
            <a href={% url 'profile' %} target="_blank"> Student Profile </a>
            <br />
            <a href={% url 'extracurricular' %} target="_blank"> Student Extracurricular Activity </a>
            <br />
            <br />
            <br /> <br />
            <h4>
        </div>
        {{cute_img | safe}}
        </center>
    </div>
{% endblock %}