{% extends 'accounts/main.html' %}
{% block body %}
    <div class="container">
        <center>
        <br>
            <h2><u> Available Links as of now: </u></h2>
            <h4> For Students </h4>
            <h5>
            <a href={% url 'details'%} target="_blank"> Student details </a>
            <br />
            <a href={% url 'sem_marks' 1 %} target="_blank"> Student Semester marks </a>
            <br />
            <a href={% url 'profile' %} target="_blank"> Student Profile </a>
            <br />
            <a href={% url 'extracurricular' %} target="_blank"> Student Extracurricular Activity </a>
            <br />
            <hr />
            </h5>
            <h4> For Teachers </h4>
            <h5>
            <a href={% url 'upload_student'%} target="_blank"> Student List Upload </a>
            <br />
            <a href={% url 'mentees'%} target="_blank"> Mentor Mentees List </a>
            <br />
            </h5>
            <br /> 
            <br />
        </div>
        </center>
    </div>
{% endblock %}