<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>snapshow | {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'snaps/img/favicon.ico/' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'snaps/css/style.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><b>snapshare</b> </a>
                <emp class="navbar-brand text-success">{{ title }}</emp>
            </div>
        </nav>
        <br />
        <br />
        
        <!-- Main Content gets added here -->
        <div class="d-flex align-items-center" style="width: 100%; height: 60%">
            {% block body %}
            {% endblock %}
        </div>


        {% include 'accounts/includes/footer.html' %}

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>