<nav class="navbar navbar-expand-md navbar-light bg-light border" style="margin: 0; padding: 0;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'details' %}">General Details
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'extracurricular' %}">Extracurricular activities
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sem Marks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for x in nav_sems %}
              {% if x.state == 'true' %}
                <span class="dropdown-item disabled">Sem {{ x.num }}</span>
              {% else %}
                <a class="dropdown-item" target="_blank" href="{% url 'sem_marks' x.num %}">Sem {{ x.num }}</a>
              {% endif %}
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">Fill General and University Details First</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'certificate' %}">Certificates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_mentor' %}">Contact Mentor</a>
        </li>

      </ul>

      <form id="logout" method="POST" action="{% url 'logout' %}">
        <button class="btn btn-outline-danger btn-sm" type="submit">Logout</button>
        {% csrf_token %}
        <input type="hidden" />
      </form>
    </div>
  </div>
</nav>
<br />